<div class="titulo">
    <h1>
        <mat-icon>account_circle</mat-icon>
        Login</h1>
</div>

<form class="mat-elevation-z8 form">
    <div class="dupla-colunas">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input [(ngModel)]="login.email" [formControl]="email" required maxlength="100" name="email" (click)="messageReset()" matInput placeholder="Ex. email@mail.com">
            <mat-error *ngIf="email.invalid">
                <div class="errors">
                    {{ errorValidEmail() }}
                </div>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="login.senha" [formControl]="senha" type="password" required maxlength="100" name="senha" matInput (click)="messageReset()">
            <mat-error *ngIf="senha.invalid">
                <div class="errors">
                    {{ errorValidSenha() }}
                </div>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="errorValidEmail() || errorValidSenha()" (click)="logar()">Entrar
        </button>
        <button mat-raised-button color="warn" (click)="voltar()">Voltar
        </button>
    </div>
</form>
<div *ngIf="setLoginMessage || setSenhaMessage" class="errorLogin">
    <span *ngIf="setLoginMessage" class="messageError"> {{loginInvalido}}</span>
    <span *ngIf="setSenhaMessage" class="messageError"> {{senhaInvalida}}</span>
</div>