<mat-card class="mat-elevation-z8">
    <mat-card-header class="mat-elevation-z8">
        <mat-card-title>
            <h3 class="mat-elevation-z8">{{this.doacao.itens[0].nome}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
            <p>{{this.doacao.itens[0].classificacao}}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <div class="detalhes">
        <div>
            <div class="contato mat-elevation-z8">
                <div class="descricao">
                    <h2>
                        <mat-icon id="descricao-icon">description</mat-icon>
                        Descrição
                    </h2>
                    <p>{{this.doacao.itens[0].descricao}}</p>
                </div>

                <h2>
                    <span class="icon"><mat-icon id="doador-icon">account_box</mat-icon>Doador</span>
                </h2>
                <div>
                    <span class="icon"><mat-icon>perm_identity</mat-icon> Nome: {{this.doacao.usuario.nome}}</span>
                </div>
                <div>
                    <span class="icon"><mat-icon>call</mat-icon> Telefone: {{this.doacao.usuario.telefone}}</span>
                </div>
                <div>
                    <span class="icon"><mat-icon>mail</mat-icon> Email: {{this.doacao.usuario.email}} </span>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<div class="btn">
    <button mat-raised-button color="accent">
      <mat-icon>card_giftcard</mat-icon>
      <span>Aceitar doação</span>
    </button>
</div>
<div class="btn">
    <button mat-raised-button color="warn" (click)="voltar()">
      <span>Voltar</span>
    </button>
</div>