<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            <h1>Amar+</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <p>Sistema de Doação de Recursos de Saúde</p>
            <div class="icones">
                <mat-icon class="carrinho">add_shopping_cart</mat-icon>
                <mat-icon>favorite</mat-icon>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <img src="assets/img/doacao.jpg" alt="">
</mat-card>

<div class="register-btn">
    <button mat-raised-button color="accent" (click)="registrar()">
        Registre-se agora!
    </button>
</div>