mat-card {
    width: 60%;
    height: 50%;
    margin: 1rem auto 0 auto;
    background: #b3ffcc;
    border: 3px solid #05c46b;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

img {
    height: 145px;
    width: 340px;
    margin-top: 15px;
    border-radius: 10px;
    border: 5px solid white;
}

.donatario {
    padding: 5px;
}

#doador-icon {
    font-size: 2.2rem;
    margin-bottom: 12px;
    margin-right: 1rem;
    color: #00a0b0;
}

.detalhes,
.descricao p {
    font-weight: 500;
}

h2 {
    margin: 0;
}

span {
    margin: 5px 0;
}

.icon {
    border-bottom: 2px solid white;
}

.doador h2 {
    margin-bottom: 1rem;
}

.icon-contato mat-icon {
    font-size: 4rem;
}

.contato {
    padding: 6px;
    background: linear-gradient(10deg, rgba(255, 255, 255, 1) 12%, rgba(148, 237, 255, 1) 47%, rgba(0, 212, 255, 1) 100%);
}

.contato h2 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 12%, rgba(148, 237, 255, 1) 47%, rgba(0, 212, 255, 1) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.icon mat-icon {
    margin-right: .5rem;
}

mat-card-header {
    border-radius: 10px;
    border: 1.5px solid #05c46b;
    background: linear-gradient(10deg, rgba(255, 255, 255, 1) 12%, rgba(148, 237, 255, 1) 47%, rgba(0, 212, 255, 1) 100%);
}

mat-card-title h3 {
    color: black;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 1.1rem;
}

mat-icon {
    color: #05c46b;
    font-size: 2.2rem;
}

.contato {
    border: 2px solid #05c46b;
    border-radius: 10px;
}

.detalhes {
    color: black;
}

.detalhes p {
    margin: 0;
}

.btn {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.btn mat-icon {
    font-size: 2rem;
    margin-bottom: 7px;
    margin-right: 1rem;
    color: black;
}

button:hover {
    background: white;
    color: black;
}

button {
    width: 70%;
    font-size: 1.3rem;
}

.icon {
    display: flex;
    align-items: center;
}

.detalhes mat-icon {
    font-size: 1.5rem;
}

.contato {
    padding-bottom: 1.3rem;
}