<div class="titulo">
    <h1>
        <mat-icon>card_giftcard</mat-icon>
        Cadastrar Doação</h1>
</div>

<form class="mat-elevation-z8 form">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" required maxlength="100" name="senha" matInput>
            <!-- <mat-error *ngIf="sobrenome.invalid">
            <div class="errors">
                {{ errorValidName() }}
            </div>
        </mat-error> -->
        </mat-form-field>
    </div>
</form>