mat-icon {
    font-size: 2rem;
    margin-bottom: 7px;
    margin-right: .7rem;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80%;
    margin: auto;
    padding: 3px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.form {
    width: 70%;
    margin: auto;
}

.full-width {
    display: block;
    width: 30%;
    margin-bottom: 1.4rem;
}