<div class="titulo mat-elevation-z8">
    <h1>
        <mat-icon>card_giftcard</mat-icon>
        Cadastrar Doação
    </h1>
</div>

<form class="mat-elevation-z8 form">
    <div class="box">
        <img src="assets/img/box.jpg" alt="">
    </div>

    <div class="fields">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select>
                <mat-option value="MEDICACAO">Medicação</mat-option>
                <mat-option value="EQUIPAMENTO">Equipamento</mat-option>
                <mat-option value="MOBILIARIO">Mobiliário</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nome do item</mat-label>
            <input required maxlength="100" name="senha" matInput>
            <!-- <mat-error *ngIf="sobrenome.invalid">
            <div class="errors">
                {{ errorValidName() }}
            </div>
        </mat-error> -->
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            <!-- <mat-error *ngIf="sobrenome.invalid">
            <div class="errors">
                {{ errorValidName() }}
            </div>
        </mat-error> -->
        </mat-form-field>

        <!-- <div class="input-file">
            <label>Foto</label>
            <input type="file">
        </div> -->


    </div>
</form>