mat-icon {
    font-size: 2rem;
    margin-bottom: 7px;
    margin-right: .7rem;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80%;
    margin: auto;
    padding: 5px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, rgba(65, 170, 242, 1) 0%, rgba(102, 177, 246, 1) 40%, rgba(119, 153, 255, 1) 63%, rgba(119, 153, 255, 1) 100%);
}

.form-container {
    width: 79%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(180deg, rgba(65, 170, 242, 1) 0%, rgba(102, 177, 246, 1) 27%, rgba(65, 170, 242, 1) 68%, rgba(65, 170, 242, 1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 4px;
}

.form {
    text-align: center;
    padding: 5px;
}

.foto-layout {
    display: flex;
    align-items: center;
}

img {
    height: 410px;
    width: 450px;
    border-radius: 10px;
    margin-left: 15px;
}

.dupla-colunas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-left: 13px;
}

.full-width {
    width: 95%;
    margin-bottom: 1.4rem;
}

.disabled {
    width: 91%;
    margin: 0 auto;
    height: 3.3rem;
    cursor: default;
    text-align: left;
    border-bottom: 1px solid #e0e0d1;
    border-radius: 3px;
}

.email-input {
    cursor: default!important;
}

button {
    width: 50%;
    margin-left: 2rem;
}

.btns {
    display: flex;
    margin-right: 1rem;
    justify-content: center;
}

.errors {
    font-size: 14px;
    font-weight: 500;
}