<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Home
            </a>
            <a mat-list-item routerLink="/doacoes">
                <i class="material-icons">view_list</i>Doações
            </a>
            <a mat-list-item routerLink="/usuario/doacoes">
                <i class="material-icons">card_giftcard</i>Suas Doações
            </a>
            <a mat-list-item routerLink="/usuario/update">
                <i class="material-icons">settings</i>Editar Conta
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <div class="login">
            <button *ngIf="usuarioLogado" mat-raised-button color="primary">
                <mat-icon>account_box</mat-icon>
               {{usuarioLogado}}
            </button>
            <button class="logout" *ngIf="usuarioLogado" mat-raised-button color="primary" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
        <button [disabled]="isAuntenticated === false" mat-icon-button [ngClass]="{'toggle-btn mat-elevation-z8': isAuntenticated}" (click)="drawer.toggle()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>