<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Home
            </a>
            <a mat-list-item routerLink="/doacoes">
                <i class="material-icons">view_list</i>Doações
            </a>
            <a mat-list-item routerLink="/usuario/update">
                <i class="material-icons">settings</i>Editar Conta
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">person_pin</i>Ordens de Serviço
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button class="toggle-btn mat-elevation-z8" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <!-- <button [(ngModel)]="autenticado" [disabled]="autenticado === false" mat-icon-button [ngClass]="{'toggle-btn mat-elevation-z8': autenticado}" (click)="drawer.toggle()">
            <mat-icon>more_vert</mat-icon>
        </button> -->
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>